{% extends "base.html" %}
{% load auth_extras %}

{% block content %}
    <h1 class="text-center">View all gyms</h1> 
    <div class="row ordering-and-search">
        <div class="col-9">
            Sort by: <a href="?ordering=name{% if query %}&query={{ query }}{% endif %}" style="display: inline">Name</a> | <a href="?ordering=addr{% if query %}&query={{ query }}{% endif %}" style="display: inline;">Location</a>
        </div>
        <div class="col-3">
            <form  method="GET" action="">
                <input type="search" class="form-control mb-1" name="query">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div> 
    <div class="row">
        {% for gym in gyms %}
            <div class="col-sm-3" style="padding: 1%;">
                <div class="card text-center" >
                    <div class="card-body">
                        <h5 class="card-title">{{ gym.name }}</h5>
                        <p class="card-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                            </svg>
                            {{ gym.addr }}
                        </p>
                        <a href="gym/{{ gym.pk }}" class="btn btn-primary">View Boulders</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if ordering %}&ordering={{ ordering }}{% endif %}{% if query %}&query={{ query }}{% endif %}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}{%if ordering %}&ordering={{ ordering }}{% endif %}{% if query %}&query={{ query }}{% endif %}">previous</a>
            {% endif %}
            
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if ordering %}&ordering={{ ordering }}{% endif %}{% if query %}&query={{ query }}{% endif %}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if ordering %}&ordering={{ ordering }}{% endif %}{% if query %}&query={{ query }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>

    </div>
    {% if user.is_authenticated %}
        {% if user|has_group:"StaffUser" %}
            <div>
                <a href="{% url 'gym_create' %}">Create a new gym</a>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}