{% extends "base.html" %}
{% block content %}
    <div>
        <h1 class="text-center">{{ gym.name }}</h1>
        <h3 class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
            </svg>
            {{ gym.addr }}
        </h3>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row justify-content-center">
                        <i class="text-center col-sm-1">Ascents</i><strong class="col-sm-3 text-center"><i>Boulders</i></strong> <i class="col-sm-1">Grade</i><span class="col-sm-2">Wall</span>
                    </div>
                </li>
                {% for boulder in boulders %}
                    <li class="list-group-item">
                        <div class="row justify-content-center">
                            <i class="text-center col-sm-1">{{ boulder.sender_set.count }}</i> <strong class="col-sm-3 text-center"><a href="../boulder/{{ boulder.pk }}">{{ boulder.boulder_name }}</a></strong> <i class="col-sm-1">V{{ boulder.grade }}</i><span class="col-sm-2">{{ boulder.wall.wall_name}}</span></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    

{% endblock %}