{% extends "base.html" %}
{% block content %}
    <div class="content-section justify-content-center row">
        <div class="col-10 col-md-6">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group my-3">
                    <legend class="border-bottom mb-3">Delete Boulder</legend>
                    <h2>Are you sure you want to delete the boulder "{{ object.boulder_name }}"</h2>
                </fieldset>
                <div class="form-group my-3">
                    <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                    <a class="btn btn-outline-dark" href="{% url 'boulder_detail' object.id %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}