{% extends "base.html" %}
{% block content %}
    <div>
        <h1 class="text-center">{{ boulder.boulder_name }} <i>({{ boulder.grade }})</i></h1>
        <h5 class="text-center">{{ boulder.wall.wall_name }} at  {{ boulder.wall.gym.name }}</h5>
    </div>
    <div class="row justify-content-center m-5">
        <div class="col-7">
            <canvas id="ctx" width="{{ boulder.wall.img_height }}" height="{{ boulder.wall.img_width }}" style='width:{{ boulder.wall.img_width }}px; height:{{ boulder.wall.img_height }}px;'></canvas>
        </div>
        <div class="col-4">
            <h4>Ascents</h4>
            <ul class="list-group">
                {% for sender in boulder.sender_set.all %}
                    <li class="list-group-item">
                        <span class="badge text-bg-primary rounded-pill col-2">
                            {% if sender.flash %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-charge" viewBox="0 0 16 16"><path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z"/></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/><path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/></svg>
                            {% endif %}
                        </span>
                        <span class="col-4 text-center">
                            <strong>
                                {{sender.sender.username}}
                            </strong>
                        </span>
                        <span class="col-1">
                            <small>
                                {{sender.date}}
                            </small>
                        </span>
                    </li>
                {% endfor %}
            </ul>
            {% if user.is_authenticated %}
                {% if user_has_sent %}
                    <form method="POST" action={% url "sender_delete" pk=sender_pk gym_pk=boulder.pk %} class="mt-3">
                        {% csrf_token %}
                        <input class='btn btn-primary' type="submit" value="Remove Ascent">
                    </form>

                {% else %}
                    <form method="POST" action={% url "sender_create" pk=boulder.pk %} class="mt-3">
                        {% csrf_token %}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="flash"><label class="form-check-label">Flash?</label>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Log Ascent">
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if user.is_authenticated %}
        {% if boulder.setter == user %}
            <div class="mb-5">

                <div>
                    <a href="{% url 'boulder_delete' pk=boulder.pk %}">Delete Boulder</a>
                </div>
                <div>
                    <a href="{% url 'boulder_update' pk=boulder.pk %}">Update Boulder</a>
                </div>

            </div>    
        {% endif %}
    {% endif %}
    <script>
        var myCanvas = document.getElementById('ctx');
        var ctx = myCanvas.getContext('2d');
        var img = new Image;
        img.onload = function(){
            ctx.drawImage(img,0,0); // Or at whatever offset you like
            
            {% for annotation in boulder.annotation_set.all %}
                ctx.beginPath();
                ctx.arc({{ annotation.coord_x }}, {{ annotation.coord_y }}, {{ annotation.radius }}, 0, 2 * Math.PI, true);
                ctx.lineWidth = 5;
                ctx.strokeStyle = '#FDDA0D';
                ctx.stroke();
                ctx.closePath();
            {% endfor %}
        };
        img.src = "{{ boulder.wall.img_url }}";

        
    </script>

    
{% endblock %}