{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section justify-content-center row">
        <div class="col-10 col-md-6">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group my-3">
                    <legend class="border-bottom mb-3">Create a new wall at {{ gym_name }}</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group my-2">
                    <button class="btn btn-dark" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}